td {
    height: 50px;
    width: 50px;
}

h1 {
    text-align: center;
    color: chartreuse;
}

.tab {
    margin: auto;
    border: 10px solid black;
}

#w {
    background-color: white;
}

#b {
    background-color: black;
}